# Entorno virtual
venv/
.env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db

# Resultados / outputs
*.png
*.jpg
*.pdf
